<h1>About me</h1>
<ul>
    <li>Name : {{info.name}}</li>
    <li>Email: {{info.email}}</li>
    <li>Tel: {{info.tel}}</li>
</ul>
<div>
    <input type="text" name="comment" [(ngModel)]="comment.message">
    <button [disabled]="newComment" (click)="addComment()">Add Comment</button>
</div>

<div *ngIf="comments.length>0; else noComments">
    <h1>Messages</h1>
    <ul>
        <li *ngFor="let comment of comments"> {{comment.message}} | {{comment.date | date}}</li>
    </ul>
</div>

<ng-template #noComments>
  <h3>No comment found!</h3>
</ng-template>