<div *ngIf="comments.length>0; else noComments">
    <h1>Messages</h1>
    <ul class="list-group">
        <!--  <li class="list-group-item border-primary d-flex justify-content-between align-items-center" 
                    *ngFor="let comment of comments; let i=index; let isEven=even"> 
                    <span *ngIf="isEven">
                   {{i}}#{{comment.message}}  <span class="badge badge-secondary badge-pill">{{comment.date | date}}</span> 
                   </span>
                </li> -->
        <ng-container *ngFor="let comment of comments; let i=index; let isEven=even; let isOdd=odd">
            <!--  <li *ngIf="isEven"
                        [ngStyle]="{color:colors.even}"
                        class="list-group-item border-primary d-flex justify-content-between align-items-center">
                        {{i}}#{{comment.message}} <span class="badge badge-secondary badge-pill">{{comment.date |
                            date}}</span>
                    </li>
                      <li *ngIf="isOdd"
                        [ngStyle]="{color:colors.odd}"
                        class="list-group-item border-primary d-flex justify-content-between align-items-center">
                        {{i}}#{{comment.message}} <span class="badge badge-secondary badge-pill">{{comment.date |
                            date}}</span>
                    </li> -->
            <li [ngClass]="{'text-success bg-light':isEven,'text-danger':isOdd}"
                class="list-group-item border-primary d-flex justify-content-between align-items-center">
                {{i}}#{{comment.message}} <span class="badge badge-secondary badge-pill">{{comment.date |
                    date}}</span>
            </li>
        </ng-container>

    </ul>
</div>

<ng-template #noComments>
    <h3>No comment found!</h3>
</ng-template>